*{
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}


.a5{
    background: url(./assests/geometry-1044090_1920.jpg) no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

 .a5::before{
    content: "";
    display: block;
    width: 100%;
     top: 0px;
     left: 0px;
     bottom: 0px;
     right: 0px;
    height: 100%;
    background-color: #333;
    position: absolute;
    opacity: 0.5;
}

#logo,.collapse,#logo,.styling,.search-bar{
    position: relative;
    font-size: 2rem;
    color: #ffffff;
}



.a5 .b1{
    height: 22vh;
    
}

.a4{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.line-height{
    width: 50%;
    background: purple;
    margin-left: auto;
    margin-right: auto;
}

hr{
    width: 100%;
    background: purple;
    margin-left: auto;
    margin-right: auto;
    margin: 5px
}

.a4{
    width: 25%;
    height: 300px;
    
}

.styling{
    font-size: 2.3rem;
    color: white;
    font-weight: 500;
    text-shadow: 3px 3px 5px black;
}


a , .dropdown-toggle{
  transition: all 0.4s;
  margin: 5px;
  text-decoration:none;
  display: inline-block;
  background: none;
  height: 45px;
  width: 150px;
  line-height:50px;
  text-align: center;
  text-shadow: 1px 2px 3px black;
}
a:hover,.dropdown-toggle:hover {
  box-shadow: 0 4px purple;
    transform: scaleY(1.1);
   
}

.dropdown-menu .dropdown-item a{
    padding-bottom: 5px;

}

.navbar .navbar-collapse .navbar-nav a{
   font-size: 2.2rem;
    font-weight: 800;
    padding-left: 3px;
    text-shadow: none;
}

.navbar .navbar-brand{
    box-shadow: none;
    padding-top: 15px;
}

.right{
    float:right;
    padding-left: 850px;
    
}
div.dropdown-menu{
    width: 50%;
    
}

.right .dropdown .dropdown-toggle{
    padding-left: 5px;
    padding-top: 3px;
    text-decoration: none;
}

.right .dropdown .dropdown-menu a{
    font-size:1.7rem;
    text-shadow: none;
    padding-bottom: 5px;
    text-decoration: none;
}

.center{
    background: url(https://source.unsplash.com/1600x900/?statistics,data) no-repeat;
    background-size: cover;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 40px;
    color: black;
}
.center .p-4{
    color: white;
}

.center .b2{
    padding-bottom: -20px
}

.mx-auto .w-full .title-font{
    padding-left: 35%;
}

hr.b5 {
    border-top: 4px solid purple;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
    
}

hr.b4{
   border-top: 2px solid purple;
    width: 100%;
    
}

.vertical-1{
    border-left: 3px solid purple;
    height: 260px;
    margin-left: 40px;
}

.vertical-2{
    border-right: 3px solid purple;
    height: 260px;
    margin-right: 40px;
}

.body-style{
    padding: 25px;
    
}

.body-style:hover{
  -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);   
}

.object-cover:hover{

    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.object-cover{
    box-shadow: 2px 4px 6px 2px rgb(204, 102, 255), 2px 6px 20px 2px rgb(214, 214, 194);
    
}

.background-img{
   background: lightgray;
}